/* styles.css */
html {
  margin: 0px;
  padding: 0px;
  background-color:  #101417;
  }
  
  #popupContainer {
      display: flex;
      background-color: #101417;
      width: 130px;
      height: 40px;
    }
    
    button {
      background-color: #1b1e23;
      color: #3bb93b;
      border: 10;
      border-radius: 100px;
      border-color: #3bb93b;
      margin: 0 auto;
      padding: 10px;
      cursor: pointer;
  
    }
    
    button:hover {
      background-color: #0056b3;
    }